.App {
  text-align: start;
}

.title{
  font-size: 30px;
  padding: 20px;
  padding-left: 0px;
}

.topmangatitle
{
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 8px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.topmangadetail
{
  width: 98%;
  height: 95%;
  margin-left: 1.125vh;
  display: flex;
  justify-content: start;
}
.topmanga{
  background-color: #999999;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.topmangaavt{
  width: 206px;
  height: 100%;
}
.pagination
{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topmangainfo
{
  padding-left: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.buttontheloai
{
  padding: 3px;
  border-radius: 7px;
  background-color: #FFFFFF;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mangaitem{
  background-color:white;
  height: 500px;
}
.tentacgia
{
  font-weight:600; font-size: 23px; margin: 5px; margin-left: 0px;
}
.noidung
{
  /*background-color: blue;*/
  font-size: 16px;
  height: 100%;
  padding-top: 8px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mangaimage
{
  height: 63.0%;
}
.chapterandtime
{
  display: flex;
}
.mangaitemchapter
{
  width: 50%;
  text-align: left;
}
.mangaitemtime
{
  width: 50%;
  text-align: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
